flake8==6.1.0
ipykernel==6.26.0
jupyter==1.0.0
mysqlclient==2.2.0
mysql-connector-python==8.1.0
openpyxl==3.1.2
pandas==2.0.3
pytest==7.4.2
pytest-cov==4.1.0
python-dotenv==1.0.0
sqlalchemy==2.0.21
sqlalchemy-utils==0.41.1
